<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043936245914-cm3kqgk7up9h8n4ddum9odfatp74ga54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043936245914-cm3kqgk7up9h8n4ddum9odfatp74ga54</string>
	<key>API_KEY</key>
	<string>AIzaSyBW_oDC1_cxyXXjPHpZSVP4-1SU8XNvCS0</string>
	<key>GCM_SENDER_ID</key>
	<string>1043936245914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alienz.rentalManagement</string>
	<key>PROJECT_ID</key>
	<string>rental-management-cd86e</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-management-cd86e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043936245914:ios:a12272dd6a569167480723</string>
</dict>
</plist>